/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Garante que o fundo não fique aquele cinza padrão do navegador antes do React carregar */
body {
  background-color: #f9fafb; /* gray-50 */
}

/* Se estiver em modo escuro */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #030712; /* gray-950 */
  }
}